.popup-tip__elem{
  position: relative;
  color: #377eb4;
  display: inline-block;
  background-image: linear-gradient(to right, #377eb4 40%, transparent 40%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 8px 1px;
  white-space: nowrap;
}
.popup-tip__elem:hover{
  background-image: linear-gradient(to right, transparent 40%, transparent 40%);
}
