.features__item-img {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  max-width: 67px;
  margin-bottom: 4px;
}
@media (max-width: 575px) {
  .features__item-img{
    max-width: 43px;
  }
}
