.footer__main-nav {
  box-sizing: border-box;
  position: relative;
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 15.5px;
}

.footer__main-nav-item {
  box-sizing: border-box;
  width: 33.333333%;
  margin-bottom: 9px;
}

@media (max-width: 991px) {
  .footer__main-nav-item {
    width: 30%;
    line-height: 1.3;
    margin-bottom: 9px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer__main-nav-item {
    width: 46%;
  }
}

@media (max-width: 575px) {
  .footer__main-nav-item {
    width: 100%;
  }
}

.footer__main-nav-link {
  box-sizing: border-box;
  display: inline-block;
}

.footer__main-nav-link,
.footer__main-nav-link:focus,
.footer__main-nav-link:active,
.footer__main-nav-link:visited {
  color: inherit;
  text-decoration: none;
}

.footer__main-nav-link:hover {
  color: inherit;
  text-decoration: underline;
}
