.header__slogan{
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20.4px;
  font-weight: 400;
  text-align: left;
  color: #777;
}

.heading.header__slogan{
  margin-bottom: 0;
}
