.navigation__link {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 2px 6px;
  margin: 0 -1px;
  background-color: transparent;
  min-height: 53px;
}

.navigation__link,
.navigation__link:focus,
.navigation__link:visited,
.navigation__link:active {
  color: #f9f9f8;
  text-decoration: none;
}

.navigation__link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #2c6590;
  z-index: 2;
}
@media (max-width: 991px){
  .navigation__link {
    min-height: 36px;
  }
}
