.filter__header-top {
  box-sizing: border-box;
  position: relative;
  padding-top: 57px;
  padding-bottom: 70px;
  text-align: center;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #676767;
}

@media (max-width: 767px) {
  .filter__header-top{
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
