.service__image_size_third {
  width: 36.1%;
  height: 277px;
  margin-top: 6px;
}
@media (max-width: 991px){
  .service__image_size_third {
    width: 39%;
    height: 200px;
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .service__image_size_third {
    width: 100%;
    height: 150px;
    margin-top: 0;
    max-height: 100vh;
    margin-bottom: 12px;
  }
}
