.footer__footer {
  background-color: #221f1f;
  color: #fff;
  position: relative;
  padding: 17px 0;
}

@media (max-width: 991px) {
  .footer__footer .footer__content{
    flex-direction: column;
  }
}
