.contacts__social{
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  opacity: .7;
  margin-left: 8px;
  margin-right: 2px;
  transition: opacity .3s ease;
}
.contacts__social:hover{
  opacity: 1;
}
.contacts__social,
.contacts__social:hover,
.contacts__social:focus,
.contacts__social:active,
.contacts__social:visited{
  text-decoration: none;
}
.contacts__social .image{
  width: 20px;
  height: 20px;
  display: inline-block;
}
