.header {
  box-sizing: border-box;
  position: relative;
  padding-top: 7px;
  padding-bottom: 3px;
}
.header__content{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
