node_modules/
.DS_Store
.idea
.project
.zip
.log
.swp
shrinkwrap.yaml

.enb/tmp/

!bundles/*/*.bemdecl.js
bundles/*/*
!bundles/*/*.bemdecl.js
bundles/*/*.tmpl.bemdecl.js

dist/

static/assets/
!static/assets/img
static/cache/

.floo
.flooignore
pnpm-debug.log
deploy.gpg
deploy_rsa
deploy_rsa.pub
.docker/data
remove-gpg-user.sh
.env
