.contacts_view_footer {
  margin-top: 13px;
}
.contacts_view_footer .contacts__email{
  color: #fff;
  font-size: 14px;
}
.contacts_view_footer .contacts__tel{
  color: #fff;
  font-size: 16px;
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .contacts_view_footer {
    margin-top: 6px;
  }
}
@media (max-width: 767px) {
  .contacts_view_footer {
    align-self: flex-end;
  }
}
