.title_view_xl{
  padding: 114px 0 135px;
  margin: 0 0 28px;
}
.title_view_xl .title__name{
  padding: 12px 21px;
  font-size: 40.55px;
}

@media (max-width: 767px) {
  .title_view_xl {
    padding: 35px 0;
  }
  .title_view_xl .title__name{
    padding: 22px 15px;
    font-size: 32px;
  }
}
