.block(title).mod(view xl) {
  padding: 35px 0;
  margin: 0 0 28px;
  display: flex;
  align-items: center;

  @media (min-width: 480px) {
    min-height: 240px;
  }

  @media (min-width: 768px) {
    padding: 114px 0 135px;
  }

  @media (min-width: 992px) {
    min-height: 400px;
    min-height: 400px;
  }

  .elem(name) {
    padding: 22px 15px;
    font-size: 32px;

    @media (min-width: 768px) {
      padding: 12px 21px;
      font-size: 40.55px;
    }
  }
}
