.button {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  padding: 11px 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3333333;
  border-radius: 30px;
  color: #312d2d;
  background-color: #ffd84a;
  border: 1px solid #dcbe00;
}

.button,
.button:hover,
.button:active,
.button:focus,
.button:visited,
.button.active {
  color: #312d2d;
  text-decoration: none;
}

.button:focus,
.button:active{
  background-color: #c2a800;
  border-color: #9e8900;
}

.button:hover {
  background-color: #e8b705;
  border-color: #e8b705;
}

@media (max-width: 575px) {
  .button{
    padding: 5px 18px;
    font-size: 16px;
  }
}
