.footer__heading {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  color: #e2b44e;
}

@media (max-width: 991px) {
  .footer__heading{
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .footer__heading{
    font-size: 18px;
  }
}
