.service_view_list-item-sm {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
}

.service_view_list-item-sm .image {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 153px;
  width: 100%;
  max-width: 100%;
  background-color: #dedede;
  object-fit: cover;
}

.service_view_list-item-sm .heading {
  line-height: 1.2;
  margin-top: 8px;
  font-size: 16px;
}

.service_view_list-item-sm .link {
  display: block;
}
