.service__price_view_md {
  box-sizing: border-box;
  display: inline-block;
  font-size: 49.5px;
  font-weight: 400;
  line-height: 0.95;
  letter-spacing: -3px;
  margin-right: 14px;
}

@media (max-width: 575px) {
  .service__price_view_md{
    font-size: 35px;
  }
}
