.service__price_view_sm {
  box-sizing: border-box;
  display: inline-block;
  font-size: 33px;
  font-weight: 400;
  line-height: 0.95;
  width: 171px;
  margin-right: 20px;
  white-space: nowrap;
}
