.service__more {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 18px;
  margin-top: 7px;
  font-size: 22.6px;
  font-weight: 300;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .service__more{
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .service__more{
    font-size: 17px;
  }
}
