.logo__image{
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.logo__image_view_sm{
  display: none;
}
@media (max-width: 991px) {
  .logo__image_view_lg{
    display: none;
  }
  .logo__image_view_sm{
    display: inline-block;
    width: 140px;
  }
}
