.footer__basic-nav {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12.7px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__basic-nav-item {
  box-sizing: border-box;
  margin: 0 11px 0 0;
}

.footer__basic-nav-link {
  box-sizing: border-box;
  display: inline-block;
}

.footer__basic-nav-link,
.footer__basic-nav-link:focus,
.footer__basic-nav-link:active,
.footer__basic-nav-link:visited {
  color: inherit;
  text-decoration: none;
}

.footer__basic-nav-link:hover {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 575px) {
  .footer__basic-nav{
    font-size: 12px;
    justify-content: flex-start;
  }
}
