.footer__basic-nav {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12.7px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__basic-nav-item {
  box-sizing: border-box;
  margin: 0 11px 0 0;
}

.footer__basic-nav-link {
  box-sizing: border-box;
  display: inline-block;
  opacity: 1;
  transition: opacity .3s ease;
}

.footer__basic-nav-link,
.footer__basic-nav-link:hover,
.footer__basic-nav-link:focus,
.footer__basic-nav-link:active,
.footer__basic-nav-link:visited {
  color: inherit;
  text-decoration: none;
}

.footer__basic-nav-link:hover {
  opacity: .7;
}
