block(footer).elem(nav-list) {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

block(footer).elem(nav-item) {
  display: inline-block;
  margin-right: 12px;
}

block(footer).elem(nav-link) {
  font-size: 12px;
  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus {
     color: #bfbfbf;
     outline: 0;
  }
}

@media(max-width: 991px){
  block(footer).elem(nav-item){
    margin-right: 6px;
    margin-left: 6px;
  }
  block(footer).elem(footer-nav) {
    width: 100%;
  }
}
