.title{
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #dedede;
  overflow: hidden;
  display: table;
  width: 100%;
}
