.page__row_view_service-banner {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: start;
}

@media (max-width: 767px) {
  .page__row_view_service-banner{
    flex-direction: column;
  }
}
