.navigation__content {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media (max-width: 767px) {
  .navigation__content {
    position: absolute;
    display: none;
    top: 34px;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: #363232;
    border-top: 1px solid #000;
  }

  .navigation__content.navigation__content_visible {
    display: block;
    z-index: 9999;
  }
}
