.header__langs{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header__lang{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 2px 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.header__lang+.header__lang{
  margin-left: 10px;
}
.header__lang+.header__lang:before{
  content: '/';
  position: absolute;
  top: 0;
  left: -9px;
  color: #777
}

@media (max-width: 575px) {
  .header__langs{
    font-size: 12px;
  }
  .header__lang{
    margin: 0;
  }
  .header__lang+.header__lang:before {
    left: -7.5px;
  }
}
