.list_type_gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list_type_gallery .list__item {
  box-sizing: border-box;
  position: relative;
  height: 131px;
  width: 131px;
  margin-bottom: 26px;
}
.list_type_gallery .link,
.list_type_gallery .image{
  box-sizing: border-box;
  position: relative;
  height: 131px;
  width: 131px;
  background-color: #dedede;
}
