.list_colored {
  list-style: none;
  font-size: 18px;
}

.list_colored .list__item {
  box-sizing: border-box;
  position: relative;
  padding-left: 32px;
  margin-bottom: 10px;
}

.list_colored .list__item:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 5px;
  left: 9px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffd84a;
}
