.filter__day-tags {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin-bottom: 27px;
}

.filter__basic-tags .checkbox {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0 4px 5px;
  padding: 6px 13px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.3px;
  border-radius: 3px;
  background-color: rgba(236, 244, 248, 0.2);
  border-width: 0;
}

.filter__basic-tags .checkbox__box {
  box-sizing: border-box;
  display: none;
}

.filter__basic-tags .checkbox.checkbox_hovered {
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(236, 244, 248, 0.55);
}

.filter__basic-tags .checkbox.checkbox_checked {
  box-sizing: border-box;
  background-color: #ffd84a;
  color: #323232;
}

@media (max-width: 575px) {
  .filter__basic-tags .checkbox{
    padding: 4px 10px;
    margin: 0 7px 9px;
  }
}
