.list_sm_inline{
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list_sm_inline .list__item{
  vertical-align: top;
  margin: 0 10px;
  flex: 1 2 46%;
}

