.page__content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 100%;
}
@media ( min-width: 768px ) {
  .page__content {
    width: 750px;
  }
}
@media ( min-width: 992px ) {
  .page__content {
    width: 970px;
  }
}
@media ( min-width: 1210px ) {
  .page__content {
    width: 1180px;
  }
}
