.features__item-description {
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 575px) {
  .features__item-description{
    font-size: 14px;
  }
}
