.service__advice {
  box-sizing: border-box;
  min-height: 20px;
  padding: 19px;
  margin: 30px 0 45px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.service__advice .heading{
  margin-top: 10.5px;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: 400;
}
