.popup{
  background-color: #312d2d;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 6px;
  font-size: 13px;
  z-index: 99;
  position: absolute;
  display: none;
  visibility: hidden;;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 10px 20px -5px rgba(0,0,0,.4);
  max-width: 200px;
  text-align: center;
}
.popup.popup_js_inited {
  display: block
}

.popup.popup_direction_top-center{
  margin-top: -9px;
}
.popup.popup_direction_top-center:before{
  content: '';
  position: absolute;
  border-top: 8px solid #312d2d;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
}

.popup.popup_visible {
  visibility: visible;
}
