@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext');

html {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;/*because of popup scrolls*/
  overflow-x: hidden;/*because of popup scrolls*/
}

::selection {
  background: #3399cc;
  color: white;
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  /*font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-display: swap;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #312d2d;

  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus,
a:active {
  color: #377eb4;
}

a:visited {
  color: #1c5375;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


p {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0 0 10.5px;
}

img{
  max-width: 100%;
}
