.blog__subscribe-code{
  box-sizing: border-box;
  position: relative;

  width: 100%;
  padding: 1rem;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  clear: both;
  float: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
.blog__subscribe-code .subscribe-form-item__label{
  display: none;
  box-sizing: border-box;
}
.blog__subscribe-code .subscribe-form-item__control--input-email,
.blog__subscribe-code .field_new1{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #8a7f7f;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  display: block;
  border-radius: 30px;
  padding-left: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
}
.blog__subscribe-code .field_new2{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #8a7f7f;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  display: block;
  border-left:none;
  border-right:none;
  box-sizing: border-box;
}
.blog__subscribe-code .subscribe-form-item__btn--btn-submit,
.blog__subscribe-code .btn_new{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #312d2d;
  background-color: #ffd84a;
  border-color: #dcbe00;
  padding: 10px 24px;
  font-size: 21px;
  line-height: 1.3333333;
  border-radius: 30px;
  position: relative;
  padding-right: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  box-sizing: border-box;
}
.blog__subscribe-code form{
  position: relative;
  display: flex;
  border-collapse: separate;
  box-sizing: border-box;
  justify-content: center;
}
.blog__aside-item .blog__subscribe-code form{
  flex-direction:column;
  box-sizing: border-box;
}
.blog__subscribe-code .subscribe-form-item{
  box-sizing: border-box;
}
.blog__aside-item .blog__subscribe-code .subscribe-form-item__control--input-email,
.blog__aside-item .blog__subscribe-code .field_new1 {
  bottom: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  outline: none;
}
.blog__aside-item .blog__subscribe-code .field_new2{
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  outline: none;
}
.blog__aside-item .blog__subscribe-code .subscribe-form-item__btn--btn-submit,
.blog__aside-item .blog__subscribe-code .btn_new{
  top: 10px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
}
.blog__subscribe-code .subscribe-form-item__control--input-email,
.blog__subscribe-code .subscribe-form-item__control--input-email:focus,
.blog__subscribe-code .subscribe-form-item__control--input-email:hover,
.blog__subscribe-code .subscribe-form-item__control--input-email:active,
.blog__subscribe-code .field_new1,
.blog__subscribe-code .field_new1:focus,
.blog__subscribe-code .field_new1:hover,
.blog__subscribe-code .field_new1:active,
.blog__subscribe-code .field_new2,
.blog__subscribe-code .field_new2:focus,
.blog__subscribe-code .field_new2:hover,
.blog__subscribe-code .field_new2:active,
.blog__subscribe-code .subscribe-form-item__btn--btn-submit,
.blog__subscribe-code .subscribe-form-item__btn--btn-submit:focus,
.blog__subscribe-code .subscribe-form-item__btn--btn-submit:hover,
.blog__subscribe-code .subscribe-form-item__btn--btn-submit:active,
.blog__subscribe-code .btn_new,
.blog__subscribe-code .btn_new:focus,
.blog__subscribe-code .btn_new:hover,
.blog__subscribe-code .btn_new:active,
.blog__subscribe-code .subscribe-form-item__control,
.blog__subscribe-code .subscribe-form-item__control:active,
.blog__subscribe-code .subscribe-form-item__control:hover,
.blog__subscribe-code .subscribe-form-item__control:focus{
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}
@media (max-width:442px){
  .blog__subscribe-code form{
    flex-direction:column;
  }
  .blog__subscribe-code .subscribe-form-item__control--input-email,
  .blog__subscribe-code .field_new1 {
    bottom: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .blog__subscribe-code .field_new2{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .blog__subscribe-code .subscribe-form-item__btn--btn-submit,
  .blog__subscribe-code .btn_new{
    top: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
}
