.title__name{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  background: rgba(255, 255, 255, 0.6);
}
