.list_view_colored-check {
  list-style: none;
  font-size: 21px;
}

.list_view_colored-check .list__item {
  box-sizing: border-box;
  position: relative;
  padding-left: 39px;
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 19.6px;
}

.list_view_colored-check .list__item:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #ffd84a;
}

.list_view_colored-check .list__item:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 7px;
  left: 9px;
  width: 9px;
  height: 9px;
  border-left: 3px solid #312d2d;
  border-bottom: 3px solid #312d2d;
  transform: rotate(-45deg);
}
